.formCard {
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 1rem;
  float: none;
  width: 25%;
  border: 1px #3f51b5 solid !important;
  padding: 30px 20px 50px 20px;
}

.formHeader {
  text-align: center;
  text-shadow: 2px;
  margin-bottom: 10px;
}

.formRedirect {
  color: #3f51b5;
}