.boxScoreTable {
    margin: 1rem;
}

.centered {
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    float: none;
    text-align: center;
}

.teamName:hover {
    color: skyblue;
    cursor: pointer;
}

.smallTeamLogo {
    height: 3rem;
}

.smallTeamName {
    font-size: 24px;
}
