.registerCard {
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 1rem;
    float: none;
    width: 25%;
}

.registerHeader {
    text-align: center;
    text-shadow: 2px;
    font-weight: bold;
}
